@model BibleTraining.Web.UI.Features.Home.HomeData

<!DOCTYPE html>
<html>
<head>
    <base href="@Model.BaseUrl" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bible Training</title>
    <link rel="icon" type="image/png" href="favicon.ico">

    <!-- build:css styles/style.css -->
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
    <!-- build:js scripts/preload.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>
<body landing-scrollspy id="page-top">

    @*<div ng-include="'app/layout/layout.html'"></div>*@

    <div id="wrapper">
        <div ng-include="'app/layout/navigation.html'"></div>
        <div id="page-wrapper" class="gray-bg {{$state.current.name}}">
            <div ng-include="'app/layout/topNavBar.html'"></div>
            <div ui-view></div>
            <div ng-include="'app/layout/footer.html'"></div>
        </div>
        <div ng-include="'app/layout/right_sidebar.html'"></div>
    </div>

    <script>
        var appConfig = {
            applicationName: "@Model.ApplicationName",
            clientIp:        "@Model.ClientIP",
            dataApiBaseUrl:  "@Model.DataApiBaseUrl",
            locale:          "@Model.Locale",
            version:         "@Model.Version"
        }
    </script>

    <!-- build:js scripts/app.js -->
    <script src="scripts/vendor.js"></script>
    <script src="scripts/app.js"></script>
    <script src="app/templates.js"></script>
    <!-- endbuild -->

</body>
</html>
